# ---- Python ----
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.pyo

# ---- Virtual Envs ----
.venv/
venv/
ENV/
env/
env.bak/

# ---- IDE & macOS ----
.idea/
.DS_Store
*.iml

# ---- Build / Logs ----
dist/
build/
*.log

# ---- Sonstiges ----
Praktikum01~*/
